:root {
  --primary-color: #a41083;
  --accent-white: rgba(217, 217, 217, 1);
}
body {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}
.logo {
  display: flex;
  justify-content: center;
}
.company-card:nth-child(odd) {
  background-color: #ffb9b9;
}
.company-card {
  padding: 50px 30px;
  border-radius: 15px;
  letter-spacing: 3px;
  line-height: 3;
}
.company-card-title {
  font-weight: bold;
}
.company-card-content {
  padding: 30px;
}
a {
  cursor: pointer;
}
footer {
  min-height: 190px;
  background-color: var(--primary-color);
  color: white;
}
footer ul {
  padding: 50px;
}
footer ul li a {
  color: white;
}
.message {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
